.book.font-family-0 {
  font-family: Georgia, serif;
}
.book.font-family-1 {
  font-family: "Liberation Sans Narrow", Helvetica, Arial, sans-serif;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1.title {
  font-weight: 700;
}
.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner {
  max-width: 85%;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}
.book .book-body .page-wrapper .page-inner section.normal code,.book .book-body .page-wrapper .page-inner section.normal pre {
  font-family: monospace;
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a {
  color: #581845;
}

div.NB {
  padding: 1em 1em 1em 5em;
  margin-bottom: 1em;
  border-radius: 0.5rem;
  background: url(img/NB.png) 5px center no-repeat #2D2D2D;
  color:#ce4400;
}
